html, body {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    height:100%;
    overflow: hidden;

    background-color: black;
}

.menu button {
    all: unset;
    cursor: pointer;
    font-family: 'silkscreen';
    background-color: gray;
    border-radius: 3px;
    box-shadow: 0 4px black;
}

menu button:focus-visible,.menu button:hover {
    outline: white solid 1px;
    /* box-shadow: 0 4px black; */
}

.menu button:active {
    transform: translate(0, 4px);
    box-shadow: 0 0 black;
}

#game {
    position: absolute;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

.excalibur-scale {
    transform-origin: 0 0;
    transform: scale(var(--pixel-conversion), var(--pixel-conversion));
}

.dialog {
    position: absolute;
    font-family: 'silkscreen';
    display: flex;
    flex-direction: column;
    margin-top: 500px;
    width: 100%;
    color: white;
    background-color: #000000d9;

    overflow: hidden;
    max-height: 200px;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);
}

#dialog-text {
    padding: 30px 350px 30px 30px; /** Изменить отступ, орипентируясь на изображение. */
    word-wrap: break-word;
    position: relative;
    z-index: 3;
    height: 100px; /** Изменить высоту, если текст не влезет в диалоговое окно. */
    color: #fff;
    background-color: #1b1b1b;
    text-align: center;
}

.expansion-hide {
    max-height: 0;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);  
}

#dialog-button-container {
    align-content: center;
    height: 40px;
}

#dialog-button {
    z-index: 3;
    position: relative;
    text-align: center; 
}

.menu {
    position: absolute;
    /* position menu on click */
    left: var(--pointer-x);
    top: var(--pointer-y);
    font-family: 'silkscreen';
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100px;
    color: white;
    background-color: #00000077;
    border-radius: 5px;
    /* top: calc(10px * var(--pixel-conversion));
    left: calc(10px * var(--pixel-conversion)); */
}

.menu button {
    margin-bottom: 10px;
}

.element-hide {
    display: none;
}

.element-show {
    display: block;  
}

.shadow {
    position: absolute;
    z-index: 1;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #0a0a0a60;
}
